* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

.section {
    width: 100%;
    height: 1200px;
}

.floating {
    position:absolute;
}

.parallaxer {
    position: relative;
    width: 100%;
    height: 60vw;
    overflow: hidden;
    background: url('../img/background.png') no-repeat;
    background-position: top;
}
.parallaxer .item {
    width: 100%;
    height: 100%;
}