body {
    background: linear-gradient(#704269, #424663);
}



.tweets-list {
    width: 50%;
    height: 400px;
    overflow-y: auto;
    flex-direction: column;
}

.tweet-item {
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: white;
    border-top: 10px solid #00cccc;
    border-radius: 5px;
    cursor: pointer;
    font-style: italic;
}

.tweet-item:hover {
    opacity: 0.8;
}

.tweet-item-content {
    padding: 0.2em;
}

.tweet-item .hidden {
    visibility: hidden;
}
